
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

@media only screen and (max-width:375px){
    #menu{
        display: flex;
        margin: 30px auto;
        margin-bottom: 0px;
        width: 90%;
        justify-content: space-between;
    }

    /* logo */

    .logo img{
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin-top: 18px;
        text-align: center
    }

    ul{
        display: flex;
        flex-direction: column;
    }

    li{
        list-style: none;
    }

    li:hover{
        color: hsl(5, 85%, 63%);
        cursor: pointer;
    }

    /* Off-screen-menu */
    .off-screen-menu{
        display: flex;
        height: 100%;
        width: 70%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
        background-color: #fff;
    }

    .off-screen-menu ul{
        display: flex;
        height: 60%;
        width: 80%;
        margin: 0px;
        background-color: #fff;
    }

    .off-screen-menu li{
        display: inline;
        font-size: 18px;
        font-family: sans-serif;
        padding: 10px 110px 20px 20px;
    }

    .off-screen-menu.active {
        right: 0;
    }

    #hamburger{
        display: flex;
        padding: 16px; 
        background-color: #fff;
    }

    .ham-menu{
        height: 50px;
        width: 40px;
        margin-left: auto;
        position: relative;
    }

    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #000;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1){
        top: 25%;
    }

    .ham-menu span:nth-child(3){
        top: 75%;
    }

    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    /* showcase */

    #showcase{
        margin: 30px auto;
        width: 90%;
    }

    .img{
        display: flex;
        height: 300px;
        background-image: url(/images/image-web-3-mobile.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bellow h1{
        margin: 15px 0;
        font-weight: bolder;
        padding-right: 50px;
        font-size: 40px;
    }

    .bellow p{
        color: hsl(236, 13%, 42%);
        line-height: 25px;
    }

    .button{
        margin-top: 20px;
        margin-bottom: 60px;
        padding: 15px 30px;
        color: #fff;
        letter-spacing: 5px;
        background-color: hsl(5, 85%, 63%);
    }

    .button:hover{
        cursor: pointer;
        background-color: hsl(240, 100%, 5%);
    }

    .contain2{
        color: #fff;
        height: 400px;
        background-color: hsl(240, 100%, 5%);
    }

    .contain2 >div{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }

    .contain2 h1{
        display: inline-block;
        font-size: 26px;
        margin-top: 30px;
        margin-bottom: 7px;
        letter-spacing: 1px;
        color: hsl(35, 77%, 62%);
    }

    .contain2 h3{
        color: hsl(36, 100%, 99%);
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 9px;
    }

    .contain2 h3:hover{
        cursor: pointer;
        color: hsl(35, 77%, 62%);
    }

    .contain2 p{
        font-size: 13px;
        line-height: 20px;
        color: hsl(236, 13%, 42%);
    }

    hr{
        margin-top: 24px;
        border: .5px solid hsl(236, 13%, 42%);
    }

    .container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }

    .same{
        height: 120px;
        width: 65%;
        margin-right: 15px;
    }

    .same2{
        height: 120px;
        width: 49%;
        margin-right: 15px;
    }

    .same3{
        height: 120px;
        width: 57%;
        margin-right: 15px;
    }

    .pic,.key,.malet{
        display: flex;
        margin: 15px 0;
    }

    .container h1{
        font-size: 30px;
        margin-bottom: 10px;
        color: hsl(233, 8%, 79%);
    }

    .container h4{
        color: hsl(240, 100%, 5%);
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 7px;
    }

    .pic div{
        display: flex;
        flex-direction: column;
        padding-right: 15px;
    }

    .container p{
        line-height: 24px;
        color: hsl(236, 13%, 42%);
        font-weight: bold;
        font-size: 14px;
    }
}

@media only screen and (min-width:376px){
    #menu{
        display: flex;
        margin: 30px auto;
        margin-bottom: 0px;
        width: 90%;
        justify-content: space-between;
    }

    #showcase, .container{
        margin: 30px auto;
        width: 90%;
    }

    .logo img{
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin-top: 18px;
        text-align: center
    }

    ul{
        display: flex;
        margin-top: 24px;
    }

    li{
        display: flex;
        margin-left: 30px;
        list-style: none;
        font-size: 24px;
    }

    li:hover{
        color: hsl(5, 85%, 63%);
        cursor: pointer;
    }

    #showcase{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 20px;

    }

    .bellow{
        width: 30%;
    }

    .img{
        display: flex;
        height: 350px;
        background-image: url(/images/image-web-3-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contain2{
        color: #fff;
        height: 600px;
        background-color: hsl(240, 100%, 5%);
    }

    .contain2 >div{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }

    .contain2 h1{
        display: inline-block;
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 7px;
        letter-spacing: 1px;
        color: hsl(35, 77%, 62%);
    }

    .contain2 h3{
        color: hsl(36, 100%, 99%);
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 9px;
    }

    .contain2 h3:hover{
        cursor: pointer;
        color: hsl(35, 77%, 62%);
    }

    .contain2 p{
        font-size: 20px;
        line-height: 30px;
        color: hsl(236, 13%, 42%);
    }

    hr{
        margin-top: 30px;
        border: 1px solid hsl(236, 13%, 42%);
    }

    .bellow{
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-column-gap: 20px;
    }

    .bellow h1{
        margin: 15px 0;
        height: 100%;
        font-weight: bolder;
        padding-right: 150px;
        font-size: 60px;
    }

    .bellow p{
        margin-right: 20px;
        font-size: 22px;
        color: hsl(236, 13%, 42%);
        padding-right: 30px;
        padding-top: 40px;
        line-height: 30px;
    }

    .button{
        padding: 30px 50px;
        font-size: 18px;
        color: #fff;
        letter-spacing: 5px;
        background-color: hsl(5, 85%, 63%);
    }

    .button:hover{
        cursor: pointer;
        background-color: hsl(240, 100%, 5%);
    }

    .container{
        display: flex;
        margin: 70px auto;
        width: 92%;
        justify-content: space-between;
        height: 200px;
    }

    .pic,.key,.malet{
        display: flex;
    }

    .container h1{
        font-size: 30px;
        margin: 30px 0 5px 30px;
        color: hsl(233, 8%, 79%);
    }

    .container h4{
        color: hsl(240, 100%, 5%);
        font-weight: bold;
        font-size: 25px;
        margin: 10px 30px;
    }

    .container h4:hover{
        color: hsl(5, 85%, 63%);
        cursor: pointer;
    }

    .pic div{
        display: flex;
        flex-direction: column;
        padding-right: 15px;
    }

    .container p{
        margin: 15px 0 0 30px;
        line-height: 30px;
        color: hsl(236, 13%, 42%);
        font-weight: bold;
        font-size: 23px;
    }
}