@media only screen and (max-width:375px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }

    #menu{
        display: flex;
        justify-content: space-between;
    }

    ul{
        display: flex;
        flex-direction: column;
    }

    li{
        list-style: none;
    }

    /* Off-screen-menu */
    .off-screen-menu{
        display: flex;
        font-size: 16px;
        height: 100px;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: .3s ease;
        background-color: rgb(34, 37, 49);
    }

    .off-screen-menu.active {
        right: 0;
    }

    #hamburger{
        display: flex;
        padding: 16px;
        background-color: rgb(34, 37, 49);
    }

    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }

    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    /* .ham-menu.active span:nth-child(1){
        top: 25%;
    }

    .ham-menu.active span:nth-child(3){
        top: 75%;
    }

    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    } */
}